body {
  background-color: white;
}

#container {
  float: left;
  width: 100%;
  display: table-cell;
}

#map {
  padding: 10;
  height: 500px;
  float: left;
  display: table-cell;
  width: 65%;
}

#controls {
  padding: 10;
  height: 100px;
  float: left;
  display: table-cell;
  width: 30%;
}

#shapeSelector {
  margin:auto; 
}

#mapContainer {
    position:relative;
}

#progress {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 20px;
    margin-top: -20px;
    margin-left: -100px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 2px;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #76A6FC;
    border-radius: 4px;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}