body {
  background-color: white;
}

#keywords {
  width:100%;
}

#container, #shapeSelector {
  float: left;
  width: 100%;
  display: table-cell;
}

#map {
  padding: 10px;
  height: 500px;
  float: left;
  display: table-cell;
  width: 100%;
}

#controls {
  padding: 10px;
  float: left;
  display: table-cell;
  width: 30%;
}

.col-shape {
  padding: 10px;
  float: left;
  display: table-cell;
  width: 50%;
}

.col-shape label {
  margin:0;
}

.duration {
  width: 50px;
}

#mapContainer {
  float: left;
  display: table-cell;
  width: 65%;
}

#progress {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 20px;
    margin-top: -20px;
    margin-left: -100px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 2px;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #76A6FC;
    border-radius: 4px;
}
